.vscode/settings.json
debug_log.txt
*.o
cub3D
MLX42/*
MLX42/cmake_install.cmake
MLX42/Makefile
MLX42/CMakeFiles/CMakeDirectoryInformation.cmake
MLX42/CMakeFiles/CMakeOutput.log
MLX42/CMakeFiles/CMakeRuleHashes.txt
MLX42/CMakeFiles/Makefile2
MLX42/CMakeFiles/TargetDirectories.txt
MLX42/CMakeFiles/3.22.1/CMakeCCompiler.cmake
MLX42/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
MLX42/CMakeFiles/mlx42.dir/build.make
MLX42/CMakeFiles/mlx42.dir/DependInfo.cmake
MLX42/CMakeFiles/mlx42.dir/flags.make
